weathertowebsockets10nov2020.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>ad884c66-0175-1000-5d2e-78c20fc4c4df</groupId>
    <name>weathertowebsockets10nov2020</name>
    <snippet>
        <connections>
            <id>d0b5a1f2-4238-31e3-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                <id>80a3ba63-16a4-35f7-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                <id>ce9162ea-e964-3d0c-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>118eac9d-0299-37ef-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-hwx-schema-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.1.0-71</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>url</key>
                    <value>
                        <name>url</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>
                        <name>cache-expiration</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
            </descriptors>
            <name>Cloudera SR</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>url</key>
                    <value>http://edge2ai-1.dim.local:7788/api/v1</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>1 hour</value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>37de3bac-5551-33c2-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.1.0-71</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>118eac9d-0299-37ef-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>8e3b142d-0f20-3305-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.1.0-71</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>SchemaAwareJsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>hwx-schema-ref-attributes</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>c9d216a4-734a-31d0-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>c9d216a4-734a-31d0-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-hwx-schema-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.1.0-71</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>url</key>
                    <value>
                        <name>url</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>
                        <name>cache-expiration</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
            </descriptors>
            <name>Edge2ai Cloudera SchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>url</key>
                    <value>http://edge2ai-1.dim.local:7788/api/v1</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>1 hour</value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>ec43178a-416c-3b20-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.1.0-71</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>SchemaAvroReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>hwx-content-encoded-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>c9d216a4-734a-31d0-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroReader</type>
        </controllerServices>
        <processGroups>
            <id>27e78a87-12e9-3276-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>336.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0adc0eae-2b81-3194-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>500000</backPressureObjectThreshold>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>2fe9b180-4c60-3ef5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>e354f8a2-a95d-342e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3d335171-26a4-3ab3-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2555.90283203125</x>
                        <y>298.4917907714844</y>
                    </bends>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>69dd1246-1df7-36b4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>2a31a19b-28df-318a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>46da8503-3e3b-309b-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>2a334775-d4a1-35bd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>connected</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>e36a2b96-a217-3172-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>500418e0-08d0-3c63-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2247.765625</x>
                        <y>469.3678283691406</y>
                    </bends>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>2a31a19b-28df-318a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>69dd1246-1df7-36b4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>621e337e-4959-332a-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>aca65103-ab0b-33af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>2a334775-d4a1-35bd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6678dbba-e910-3ac8-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>63597d24-25a8-3d4c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>2fe9b180-4c60-3ef5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>84291134-e65f-3d6d-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>311c175e-76b7-34ca-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>2fe9b180-4c60-3ef5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>89b0312e-6ea7-37e1-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d7279529-d793-3114-0000-000000000000</groupId>
                        <id>c211f532-405d-3dd0-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>80a3ba63-16a4-35f7-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>92b7cf96-dacc-3f3c-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>9e22c049-7cfd-3a24-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>aca65103-ab0b-33af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a30f2df4-0a10-36d6-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>311c175e-76b7-34ca-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>63597d24-25a8-3d4c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b183581b-18fa-3509-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>2a31a19b-28df-318a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>9e22c049-7cfd-3a24-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b28bb8f5-6a95-3a98-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>75ba5a88-2cdf-35ee-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>30 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>aca65103-ab0b-33af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>be2ea88d-090e-3a09-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>500000</backPressureObjectThreshold>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>e354f8a2-a95d-342e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>85d7d9ae-6703-3579-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ebc822f4-990c-33fb-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2051.678466796875</x>
                        <y>407.74041748046875</y>
                    </bends>
                    <destination>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>2a334775-d4a1-35bd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>new</selectedRelationships>
                    <source>
                        <groupId>27e78a87-12e9-3276-0000-000000000000</groupId>
                        <id>69dd1246-1df7-36b4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>275fc021-3ba5-300d-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-hbase_2-client-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Hadoop Configuration Files</key>
                            <value>
<name>Hadoop Configuration Files</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Kerberos Principal</key>
                            <value>
<name>Kerberos Principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Kerberos Keytab</key>
                            <value>
<name>Kerberos Keytab</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Kerberos Password</key>
                            <value>
<name>Kerberos Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ZooKeeper Quorum</key>
                            <value>
<name>ZooKeeper Quorum</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ZooKeeper Client Port</key>
                            <value>
<name>ZooKeeper Client Port</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ZooKeeper ZNode Parent</key>
                            <value>
<name>ZooKeeper ZNode Parent</name>
                            </value>
                        </entry>
                        <entry>
                            <key>HBase Client Retries</key>
                            <value>
<name>HBase Client Retries</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Phoenix Client JAR Location</key>
                            <value>
<name>Phoenix Client JAR Location</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>HBase_2_ClientService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Hadoop Configuration Files</key>
                            <value>/etc/hbase/conf/hbase-site.xml,/etc/hbase/conf/hdfs-site.xml</value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>Kerberos Principal</key>
                        </entry>
                        <entry>
                            <key>Kerberos Keytab</key>
                        </entry>
                        <entry>
                            <key>Kerberos Password</key>
                        </entry>
                        <entry>
                            <key>ZooKeeper Quorum</key>
                        </entry>
                        <entry>
                            <key>ZooKeeper Client Port</key>
                        </entry>
                        <entry>
                            <key>ZooKeeper ZNode Parent</key>
                        </entry>
                        <entry>
                            <key>HBase Client Retries</key>
                            <value>3</value>
                        </entry>
                        <entry>
                            <key>Phoenix Client JAR Location</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.hbase.HBase_2_ClientService</type>
                </controllerServices>
                <controllerServices>
                    <id>53890108-9483-3c6f-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-websocket-services-jetty-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>input-buffer-size</key>
                            <value>
<name>input-buffer-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>max-text-message-size</key>
                            <value>
<name>max-text-message-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>max-binary-message-size</key>
                            <value>
<name>max-binary-message-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>listen-port</key>
                            <value>
<name>listen-port</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ssl-context-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
<name>ssl-context-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>client-authentication</key>
                            <value>
<name>client-authentication</name>
                            </value>
                        </entry>
                        <entry>
                            <key>basic-auth</key>
                            <value>
<name>basic-auth</name>
                            </value>
                        </entry>
                        <entry>
                            <key>auth-path-spec</key>
                            <value>
<name>auth-path-spec</name>
                            </value>
                        </entry>
                        <entry>
                            <key>auth-roles</key>
                            <value>
<name>auth-roles</name>
                            </value>
                        </entry>
                        <entry>
                            <key>login-service</key>
                            <value>
<name>login-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>users-properties-file</key>
                            <value>
<name>users-properties-file</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JettyWebSocketServer</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>input-buffer-size</key>
                            <value>4 kb</value>
                        </entry>
                        <entry>
                            <key>max-text-message-size</key>
                            <value>64 kb</value>
                        </entry>
                        <entry>
                            <key>max-binary-message-size</key>
                            <value>64 kb</value>
                        </entry>
                        <entry>
                            <key>listen-port</key>
                            <value>9091</value>
                        </entry>
                        <entry>
                            <key>ssl-context-service</key>
                        </entry>
                        <entry>
                            <key>client-authentication</key>
                            <value>no</value>
                        </entry>
                        <entry>
                            <key>basic-auth</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>auth-path-spec</key>
                            <value>/*</value>
                        </entry>
                        <entry>
                            <key>auth-roles</key>
                            <value>**</value>
                        </entry>
                        <entry>
                            <key>login-service</key>
                            <value>hash</value>
                        </entry>
                        <entry>
                            <key>users-properties-file</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.websocket.jetty.JettyWebSocketServer</type>
                </controllerServices>
                <controllerServices>
                    <id>9b192266-c4dd-3ed7-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-http-context-map-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Maximum Outstanding Requests</key>
                            <value>
<name>Maximum Outstanding Requests</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Request Expiration</key>
                            <value>
<name>Request Expiration</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>StandardHttpContextMap</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Maximum Outstanding Requests</key>
                            <value>5000</value>
                        </entry>
                        <entry>
                            <key>Request Expiration</key>
                            <value>1 min</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.http.StandardHttpContextMap</type>
                </controllerServices>
                <controllerServices>
                    <id>9c5414d3-7cfe-3898-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-hbase_2-client-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>HBase Cache Table Name</key>
                            <value>
<name>HBase Cache Table Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>hb-lu-authorizations</key>
                            <value>
<name>hb-lu-authorizations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>hbase-cache-visibility-expression</key>
                            <value>
<name>hbase-cache-visibility-expression</name>
                            </value>
                        </entry>
                        <entry>
                            <key>HBase Client Service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
<name>HBase Client Service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>HBase Column Family</key>
                            <value>
<name>HBase Column Family</name>
                            </value>
                        </entry>
                        <entry>
                            <key>HBase Column Qualifier</key>
                            <value>
<name>HBase Column Qualifier</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>HBase_2_ClientMapCacheService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>HBase Cache Table Name</key>
                            <value>socketcache</value>
                        </entry>
                        <entry>
                            <key>hb-lu-authorizations</key>
                        </entry>
                        <entry>
                            <key>hbase-cache-visibility-expression</key>
                        </entry>
                        <entry>
                            <key>HBase Client Service</key>
                            <value>275fc021-3ba5-300d-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>HBase Column Family</key>
                            <value>socketcache</value>
                        </entry>
                        <entry>
                            <key>HBase Column Qualifier</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.hbase.HBase_2_ClientMapCacheService</type>
                </controllerServices>
                <funnels>
                    <id>311c175e-76b7-34ca-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>1696.0</x>
                        <y>1224.0</y>
                    </position>
                </funnels>
                <inputPorts>
                    <id>80a3ba63-16a4-35f7-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>1168.0</x>
                        <y>-80.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Kafka In</name>
                    <state>RUNNING</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <labels>
                    <id>1ba4ecbd-8e39-3c47-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>2644.198422431946</x>
                        <y>-151.70754585266116</y>
                    </position>
                    <height>80.0</height>
                    <label>Note:  https://gist.github.com/ijokarumawak/60b9ab2038ef906731ebf4c0eee97176</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>512.0</width>
                </labels>
                <processGroups>
                    <id>d7279529-d793-3114-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>1096.0</x>
                        <y>96.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>069a30c0-4fc1-3dce-0000-000000000000</id>
                            <parentGroupId>d7279529-d793-3114-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>3356.408447265625</x>
<y>908.40771484375</y>
                            </bends>
                            <destination>
<groupId>d7279529-d793-3114-0000-000000000000</groupId>
<id>1253a288-32ea-3eba-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>d7279529-d793-3114-0000-000000000000</groupId>
<id>283e30d7-e470-321f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>aaf77e54-e388-3aae-0000-000000000000</id>
                            <parentGroupId>d7279529-d793-3114-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>3146.227783203125</x>
<y>501.2459716796875</y>
                            </bends>
                            <bends>
<x>3024.0</x>
<y>912.0</y>
                            </bends>
                            <destination>
<groupId>d7279529-d793-3114-0000-000000000000</groupId>
<id>1253a288-32ea-3eba-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>d7279529-d793-3114-0000-000000000000</groupId>
<id>952c6c01-c500-3aa3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b1b2008a-34eb-3991-0000-000000000000</id>
                            <parentGroupId>d7279529-d793-3114-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>3655.94140625</x>
<y>569.2754516601562</y>
                            </bends>
                            <destination>
<groupId>d7279529-d793-3114-0000-000000000000</groupId>
<id>fb3191b3-41f6-3470-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>d7279529-d793-3114-0000-000000000000</groupId>
<id>952c6c01-c500-3aa3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b98563a7-406b-32aa-0000-000000000000</id>
                            <parentGroupId>d7279529-d793-3114-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>500000</backPressureObjectThreshold>
                            <destination>
<groupId>d7279529-d793-3114-0000-000000000000</groupId>
<id>952c6c01-c500-3aa3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>d7279529-d793-3114-0000-000000000000</groupId>
<id>c211f532-405d-3dd0-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c8d2c0d4-925d-3689-0000-000000000000</id>
                            <parentGroupId>d7279529-d793-3114-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>3657.97216796875</x>
<y>726.6572265625</y>
                            </bends>
                            <destination>
<groupId>d7279529-d793-3114-0000-000000000000</groupId>
<id>283e30d7-e470-321f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>d7279529-d793-3114-0000-000000000000</groupId>
<id>fb3191b3-41f6-3470-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>c211f532-405d-3dd0-0000-000000000000</id>
                            <parentGroupId>d7279529-d793-3114-0000-000000000000</parentGroupId>
                            <position>
<x>3248.0</x>
<y>280.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>From Kafka</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>1253a288-32ea-3eba-0000-000000000000</id>
                            <parentGroupId>d7279529-d793-3114-0000-000000000000</parentGroupId>
                            <position>
<x>3059.5875153954903</x>
<y>977.4669308275211</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.1.0-71</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Terminate</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>set state fail</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>283e30d7-e470-321f-0000-000000000000</id>
                            <parentGroupId>d7279529-d793-3114-0000-000000000000</parentGroupId>
                            <position>
<x>3181.1823613126735</x>
<y>732.4355327785906</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.1.0-71</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Cache Entry Identifier</key>
        <value>
            <name>Cache Entry Identifier</name>
        </value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>Distributed Cache Service</name>
        </value>
    </entry>
    <entry>
        <key>Cache update strategy</key>
        <value>
            <name>Cache update strategy</name>
        </value>
    </entry>
    <entry>
        <key>Max cache entry size</key>
        <value>
            <name>Max cache entry size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Cache Entry Identifier</key>
        <value>updated</value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>9c5414d3-7cfe-3898-0000-000000000000</value>
    </entry>
    <entry>
        <key>Cache update strategy</key>
        <value>replace</value>
    </entry>
    <entry>
        <key>Max cache entry size</key>
        <value>1 MB</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Put latest data timestamp</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutDistributedMapCache</type>
                        </processors>
                        <processors>
                            <id>952c6c01-c500-3aa3-0000-000000000000</id>
                            <parentGroupId>d7279529-d793-3114-0000-000000000000</parentGroupId>
                            <position>
<x>3181.8871952970485</x>
<y>437.043534487575</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.1.0-71</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Cache Entry Identifier</key>
        <value>
            <name>Cache Entry Identifier</name>
        </value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>Distributed Cache Service</name>
        </value>
    </entry>
    <entry>
        <key>Cache update strategy</key>
        <value>
            <name>Cache update strategy</name>
        </value>
    </entry>
    <entry>
        <key>Max cache entry size</key>
        <value>
            <name>Max cache entry size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Cache Entry Identifier</key>
        <value>data</value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>9c5414d3-7cfe-3898-0000-000000000000</value>
    </entry>
    <entry>
        <key>Cache update strategy</key>
        <value>replace</value>
    </entry>
    <entry>
        <key>Max cache entry size</key>
        <value>1 MB</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Put latest data</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutDistributedMapCache</type>
                        </processors>
                        <processors>
                            <id>fb3191b3-41f6-3470-0000-000000000000</id>
                            <parentGroupId>d7279529-d793-3114-0000-000000000000</parentGroupId>
                            <position>
<x>3183.8921945607444</x>
<y>585.305473328457</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.1.0-71</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>${now():toNumber()}</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Always Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set current timestamp</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                    </contents>
                    <name>Kafka Consume to Cache</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>2a31a19b-28df-318a-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>2380.9163189885508</x>
                        <y>404.2394697425068</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Cache Entry Identifier</key>
<value>
    <name>Cache Entry Identifier</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Put Cache Value In Attribute</key>
<value>
    <name>Put Cache Value In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Cache Entry Identifier</key>
<value>updated</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>9c5414d3-7cfe-3898-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Put Cache Value In Attribute</key>
<value>updated</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Fetch latest timestamp</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>not-found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchDistributedMapCache</type>
                </processors>
                <processors>
                    <id>2a334775-d4a1-35bd-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>1689.4703961369883</x>
                        <y>233.84496901008492</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Cache Entry Identifier</key>
<value>
    <name>Cache Entry Identifier</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Put Cache Value In Attribute</key>
<value>
    <name>Put Cache Value In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Cache Entry Identifier</key>
<value>data</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>9c5414d3-7cfe-3898-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Put Cache Value In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Fetch latest data</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>not-found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchDistributedMapCache</type>
                </processors>
                <processors>
                    <id>2fe9b180-4c60-3ef5-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>1048.0</x>
                        <y>1032.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Status Code</key>
<value>
    <name>HTTP Status Code</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>
    <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
    <name>HTTP Context Map</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Status Code</key>
<value>200</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>9b192266-c4dd-3ed7-0000-000000000000</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>HandleHttpResponse</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.HandleHttpResponse</type>
                </processors>
                <processors>
                    <id>63597d24-25a8-3d4c-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>1048.0</x>
                        <y>1296.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>counter-name</key>
<value>
    <name>counter-name</name>
</value>
                            </entry>
                            <entry>
<key>delta</key>
<value>
    <name>delta</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>counter-name</key>
<value>webcalls</value>
                            </entry>
                            <entry>
<key>delta</key>
<value>1</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateCounter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.UpdateCounter</type>
                </processors>
                <processors>
                    <id>69dd1246-1df7-36b4-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>2072.5294577701034</x>
                        <y>233.13441721863472</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>new</key>
<value>
    <name>new</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>new</key>
<value>${updated:gt(${sent})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Is new message?</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>new</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>75ba5a88-2cdf-35ee-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>1688.5395417626778</x>
                        <y>843.8004269212711</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Terminate</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>set state fail</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>85d7d9ae-6703-3579-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>1056.0</x>
                        <y>528.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Listening Port</key>
<value>
    <name>Listening Port</name>
</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>
    <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
    <name>HTTP Context Map</name>
</value>
                            </entry>
                            <entry>
<key>Allowed Paths</key>
<value>
    <name>Allowed Paths</name>
</value>
                            </entry>
                            <entry>
<key>Default URL Character Set</key>
<value>
    <name>Default URL Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Allow GET</key>
<value>
    <name>Allow GET</name>
</value>
                            </entry>
                            <entry>
<key>Allow POST</key>
<value>
    <name>Allow POST</name>
</value>
                            </entry>
                            <entry>
<key>Allow PUT</key>
<value>
    <name>Allow PUT</name>
</value>
                            </entry>
                            <entry>
<key>Allow DELETE</key>
<value>
    <name>Allow DELETE</name>
</value>
                            </entry>
                            <entry>
<key>Allow HEAD</key>
<value>
    <name>Allow HEAD</name>
</value>
                            </entry>
                            <entry>
<key>Allow OPTIONS</key>
<value>
    <name>Allow OPTIONS</name>
</value>
                            </entry>
                            <entry>
<key>Additional HTTP Methods</key>
<value>
    <name>Additional HTTP Methods</name>
</value>
                            </entry>
                            <entry>
<key>Client Authentication</key>
<value>
    <name>Client Authentication</name>
</value>
                            </entry>
                            <entry>
<key>container-queue-size</key>
<value>
    <name>container-queue-size</name>
</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>
    <name>multipart-request-max-size</name>
</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>
    <name>multipart-read-buffer-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Listening Port</key>
<value>6688</value>
                            </entry>
                            <entry>
<key>Hostname</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>9b192266-c4dd-3ed7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Allowed Paths</key>
                            </entry>
                            <entry>
<key>Default URL Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Allow GET</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow POST</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow PUT</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow DELETE</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow HEAD</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Allow OPTIONS</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Additional HTTP Methods</key>
                            </entry>
                            <entry>
<key>Client Authentication</key>
<value>No Authentication</value>
                            </entry>
                            <entry>
<key>container-queue-size</key>
<value>50</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>512 KB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>HandleHttpRequest</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.HandleHttpRequest</type>
                </processors>
                <processors>
                    <id>9e22c049-7cfd-3a24-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>2383.009225500612</x>
                        <y>617.4249807605195</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>sent</key>
<value>
    <name>sent</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>sent</key>
<value>${now():toNumber()}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Update sent timestamp</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>aca65103-ab0b-33af-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>1690.339179126679</x>
                        <y>616.7110104749274</y>
                    </position>
                    <bundle>
                        <artifact>nifi-websocket-processors-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>websocket-session-id</key>
<value>
    <name>websocket-session-id</name>
</value>
                            </entry>
                            <entry>
<key>websocket-controller-service-id</key>
<value>
    <name>websocket-controller-service-id</name>
</value>
                            </entry>
                            <entry>
<key>websocket-endpoint-id</key>
<value>
    <name>websocket-endpoint-id</name>
</value>
                            </entry>
                            <entry>
<key>websocket-message-type</key>
<value>
    <name>websocket-message-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>websocket-session-id</key>
<value>${websocket.session.id}</value>
                            </entry>
                            <entry>
<key>websocket-controller-service-id</key>
<value>${websocket.controller.service.id}</value>
                            </entry>
                            <entry>
<key>websocket-endpoint-id</key>
<value>${websocket.endpoint.id}</value>
                            </entry>
                            <entry>
<key>websocket-message-type</key>
<value>TEXT</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutWebSocket</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.websocket.PutWebSocket</type>
                </processors>
                <processors>
                    <id>e354f8a2-a95d-342e-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>1056.0</x>
                        <y>768.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File to Fetch</key>
<value>
    <name>File to Fetch</name>
</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>
    <name>Completion Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
<value>
    <name>Move Destination Directory</name>
</value>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>
    <name>Move Conflict Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>
    <name>Log level when file not found</name>
</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>
    <name>Log level when permission denied</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File to Fetch</key>
<value>/opt/demo/ApacheConAtHome2020/html/kafka.html</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>Rename</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>ERROR</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>ERROR</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>not.found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>permission.denied</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchFile</type>
                </processors>
                <processors>
                    <id>e36a2b96-a217-3172-0000-000000000000</id>
                    <parentGroupId>27e78a87-12e9-3276-0000-000000000000</parentGroupId>
                    <position>
                        <x>1690.317720978921</x>
                        <y>27.642636677128365</y>
                    </position>
                    <bundle>
                        <artifact>nifi-websocket-processors-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>websocket-server-controller-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.websocket.WebSocketServerService</identifiesControllerService>
    <name>websocket-server-controller-service</name>
</value>
                            </entry>
                            <entry>
<key>server-url-path</key>
<value>
    <name>server-url-path</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>websocket-server-controller-service</key>
<value>53890108-9483-3c6f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>server-url-path</key>
<value>/test</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ListenWebSocket</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>binary message</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>connected</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>text message</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.websocket.ListenWebSocket</type>
                </processors>
            </contents>
            <name>Kafka to Websockets</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>5000b129-4637-3acc-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <position>
                <x>24.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0bf39bad-ce95-3efb-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <versionedComponentId>36e6bf00-5fd2-3db0-82c0-6a0c0dbc0c6d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>25769802-d929-3743-0000-000000000000</groupId>
                        <id>5d8c653e-4337-39c3-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>4c51b58d-8e5f-3871-9888-6d23f929305a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>2547dd1d-739d-3b56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c6f0c205-f1fa-3f85-ab43-24e2ba2ca969</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2e0e6020-04ef-384f-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <versionedComponentId>f789d9e8-21a9-3983-94ae-3ac25396a930</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>615ab1b7-ab21-3af4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>3c2093cc-39a3-3901-a564-76260be65fd8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>parse.failure</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>5d4e27cd-8548-3191-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>859e4d09-c737-3556-98b6-2d2d4b0b03d6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3abe6869-6f49-3431-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <versionedComponentId>3e6b1e78-6da1-375f-89f8-46b8494dbca1</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-1742.9911319173543</x>
                        <y>1890.8061256740798</y>
                    </bends>
                    <destination>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>2547dd1d-739d-3b56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c6f0c205-f1fa-3f85-ab43-24e2ba2ca969</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>fddddf00-c0f9-3ee6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9223e712-b06c-3241-85b4-d8765065bf40</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>46e06a0d-8c11-35dd-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <versionedComponentId>2b40b71d-0e87-3e48-b426-2826193fc766</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>2547dd1d-739d-3b56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c6f0c205-f1fa-3f85-ab43-24e2ba2ca969</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>5d4e27cd-8548-3191-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>859e4d09-c737-3556-98b6-2d2d4b0b03d6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>55e90eeb-ec21-3000-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <versionedComponentId>7610f001-7953-35d9-be31-6eff5eb8b68d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>fddddf00-c0f9-3ee6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9223e712-b06c-3241-85b4-d8765065bf40</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>2547dd1d-739d-3b56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c6f0c205-f1fa-3f85-ab43-24e2ba2ca969</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>92659041-2c92-3956-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>ce9162ea-e964-3d0c-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>5d4e27cd-8548-3191-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>859e4d09-c737-3556-98b6-2d2d4b0b03d6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cdea134f-6b12-3956-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <versionedComponentId>85292097-172a-3434-a8c9-7ebe5430e752</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>615ab1b7-ab21-3af4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>3c2093cc-39a3-3901-a564-76260be65fd8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>retries_exceeded</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>fddddf00-c0f9-3ee6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9223e712-b06c-3241-85b4-d8765065bf40</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>615ab1b7-ab21-3af4-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-840.0</x>
                        <y>1832.0</y>
                    </position>
                    <versionedComponentId>3c2093cc-39a3-3901-a564-76260be65fd8</versionedComponentId>
                </funnels>
                <outputPorts>
                    <id>ce9162ea-e964-3d0c-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-912.0</x>
                        <y>1608.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Out to websockets</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processGroups>
                    <id>25769802-d929-3743-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2336.0</x>
                        <y>1712.0</y>
                    </position>
                    <versionedComponentId>298d2a69-39db-3a9b-8edf-1647b6c120d9</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>0c22ae95-4c27-3e42-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <versionedComponentId>ec8b5a62-c9c6-3712-922e-d5d627baf077</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>100000000</backPressureObjectThreshold>
                            <destination>
<groupId>25769802-d929-3743-0000-000000000000</groupId>
<id>6de5effb-f029-39ee-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1da1e217-3d78-3787-bc10-2a7d2d4712b1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>25769802-d929-3743-0000-000000000000</groupId>
<id>6793f2a0-f978-3d96-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>a9443aba-b77e-309c-abf8-77a1cb89040b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1709cfaf-ff62-3347-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <versionedComponentId>775dece8-5d2b-3041-8e9c-afe73483c8f4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>25769802-d929-3743-0000-000000000000</groupId>
<id>6793f2a0-f978-3d96-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>a9443aba-b77e-309c-abf8-77a1cb89040b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>25769802-d929-3743-0000-000000000000</groupId>
<id>5d8c653e-4337-39c3-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>4c51b58d-8e5f-3871-9888-6d23f929305a</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c2a2d322-0b31-3cd1-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <versionedComponentId>298d662e-fefc-3b4d-863c-ceca32b0b12a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000000</backPressureObjectThreshold>
                            <destination>
<groupId>25769802-d929-3743-0000-000000000000</groupId>
<id>62e1b141-5450-39de-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6e7c1912-b19c-3ad2-9e91-1a4e577aba34</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>25769802-d929-3743-0000-000000000000</groupId>
<id>6de5effb-f029-39ee-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1da1e217-3d78-3787-bc10-2a7d2d4712b1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>5d8c653e-4337-39c3-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <position>
<x>-2032.0</x>
<y>1096.0</y>
                            </position>
                            <versionedComponentId>4c51b58d-8e5f-3871-9888-6d23f929305a</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Input</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>62e1b141-5450-39de-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <position>
<x>-2104.0</x>
<y>1712.0</y>
                            </position>
                            <versionedComponentId>6e7c1912-b19c-3ad2-9e91-1a4e577aba34</versionedComponentId>
                            <bundle>
<artifact>nifi-slack-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.1.0-71</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>webhook-url</key>
        <value>
            <name>webhook-url</name>
        </value>
    </entry>
    <entry>
        <key>webhook-text</key>
        <value>
            <name>webhook-text</name>
        </value>
    </entry>
    <entry>
        <key>channel</key>
        <value>
            <name>channel</name>
        </value>
    </entry>
    <entry>
        <key>username</key>
        <value>
            <name>username</name>
        </value>
    </entry>
    <entry>
        <key>icon-url</key>
        <value>
            <name>icon-url</name>
        </value>
    </entry>
    <entry>
        <key>icon-emoji</key>
        <value>
            <name>icon-emoji</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>webhook-url</key>
    </entry>
    <entry>
        <key>webhook-text</key>
        <value>=========================================================
${icon_url_base}${icon_url_name}

Location ${location} Station ${station_id}
Temperature: ${temperature_string}
Humdity: ${relative_humidity}
Wind ${wind_string}
${weather}
Dewpoint ${dewpoint_string}

Observed at ${observation_time_rfc822}

---- tracking info ----

           UUID: ${uuid}
   Kafka offset: ${kafka.offset}
Kafka Timestamp: ${kafka.timestamp}
=========================================================</value>
    </entry>
    <entry>
        <key>channel</key>
        <value>#weather</value>
    </entry>
    <entry>
        <key>username</key>
    </entry>
    <entry>
        <key>icon-url</key>
    </entry>
    <entry>
        <key>icon-emoji</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Send Weather to Slack</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.slack.PutSlack</type>
                        </processors>
                        <processors>
                            <id>6793f2a0-f978-3d96-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <position>
<x>-2096.0</x>
<y>1256.0</y>
                            </position>
                            <versionedComponentId>a9443aba-b77e-309c-abf8-77a1cb89040b</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.1.0-71</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>$.*</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitJson</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                        <processors>
                            <id>6de5effb-f029-39ee-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <position>
<x>-2096.0</x>
<y>1480.0</y>
                            </position>
                            <versionedComponentId>1da1e217-3d78-3787-bc10-2a7d2d4712b1</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.1.0-71</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>dewpoint_string</key>
        <value>
            <name>dewpoint_string</name>
        </value>
    </entry>
    <entry>
        <key>icon_url_base</key>
        <value>
            <name>icon_url_base</name>
        </value>
    </entry>
    <entry>
        <key>icon_url_name</key>
        <value>
            <name>icon_url_name</name>
        </value>
    </entry>
    <entry>
        <key>location</key>
        <value>
            <name>location</name>
        </value>
    </entry>
    <entry>
        <key>observation_time_rfc822</key>
        <value>
            <name>observation_time_rfc822</name>
        </value>
    </entry>
    <entry>
        <key>relative_humidity</key>
        <value>
            <name>relative_humidity</name>
        </value>
    </entry>
    <entry>
        <key>station_id</key>
        <value>
            <name>station_id</name>
        </value>
    </entry>
    <entry>
        <key>temperature_string</key>
        <value>
            <name>temperature_string</name>
        </value>
    </entry>
    <entry>
        <key>weather</key>
        <value>
            <name>weather</name>
        </value>
    </entry>
    <entry>
        <key>wind_string</key>
        <value>
            <name>wind_string</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>json</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>dewpoint_string</key>
        <value>$.dewpoint_string</value>
    </entry>
    <entry>
        <key>icon_url_base</key>
        <value>$.icon_url_base</value>
    </entry>
    <entry>
        <key>icon_url_name</key>
        <value>$.icon_url_name</value>
    </entry>
    <entry>
        <key>location</key>
        <value>$.location</value>
    </entry>
    <entry>
        <key>observation_time_rfc822</key>
        <value>$.observation_time_rfc822</value>
    </entry>
    <entry>
        <key>relative_humidity</key>
        <value>$.relative_humidity</value>
    </entry>
    <entry>
        <key>station_id</key>
        <value>$.station_id</value>
    </entry>
    <entry>
        <key>temperature_string</key>
        <value>$.temperature_string</value>
    </entry>
    <entry>
        <key>weather</key>
        <value>$.weather</value>
    </entry>
    <entry>
        <key>wind_string</key>
        <value>$.wind_string</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Fields for Messaging</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <name>Messaging</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>2547dd1d-739d-3b56-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1600.0</x>
                        <y>1712.0</y>
                    </position>
                    <versionedComponentId>c6f0c205-f1fa-3f85-ab43-24e2ba2ca969</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kudu-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Kudu Masters</key>
<value>
    <name>Kudu Masters</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
<value>
    <name>kerberos-principal</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-password</key>
<value>
    <name>kerberos-password</name>
</value>
                            </entry>
                            <entry>
<key>Skip head line</key>
<value>
    <name>Skip head line</name>
</value>
                            </entry>
                            <entry>
<key>Lowercase Field Names</key>
<value>
    <name>Lowercase Field Names</name>
</value>
                            </entry>
                            <entry>
<key>Handle Schema Drift</key>
<value>
    <name>Handle Schema Drift</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>Insert Operation</key>
<value>
    <name>Insert Operation</name>
</value>
                            </entry>
                            <entry>
<key>Flush Mode</key>
<value>
    <name>Flush Mode</name>
</value>
                            </entry>
                            <entry>
<key>FlowFiles per Batch</key>
<value>
    <name>FlowFiles per Batch</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Ignore NULL</key>
<value>
    <name>Ignore NULL</name>
</value>
                            </entry>
                            <entry>
<key>kudu-operations-timeout-ms</key>
<value>
    <name>kudu-operations-timeout-ms</name>
</value>
                            </entry>
                            <entry>
<key>kudu-keep-alive-period-timeout-ms</key>
<value>
    <name>kudu-keep-alive-period-timeout-ms</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Kudu Masters</key>
<value>edge2ai-1.dim.local:7051</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>impala::default.weatherkudu</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
                            </entry>
                            <entry>
<key>kerberos-password</key>
                            </entry>
                            <entry>
<key>Skip head line</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Lowercase Field Names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Handle Schema Drift</key>
<value>true</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>37de3bac-5551-33c2-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Insert Operation</key>
<value>UPSERT</value>
                            </entry>
                            <entry>
<key>Flush Mode</key>
<value>AUTO_FLUSH_BACKGROUND</value>
                            </entry>
                            <entry>
<key>FlowFiles per Batch</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>5000</value>
                            </entry>
                            <entry>
<key>Ignore NULL</key>
<value>true</value>
                            </entry>
                            <entry>
<key>kudu-operations-timeout-ms</key>
<value>30000ms</value>
                            </entry>
                            <entry>
<key>kudu-keep-alive-period-timeout-ms</key>
<value>15000ms</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Write to Prices Kudu</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.kudu.PutKudu</type>
                </processors>
                <processors>
                    <id>5d4e27cd-8548-3191-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1600.0</x>
                        <y>1472.0</y>
                    </position>
                    <versionedComponentId>859e4d09-c737-3556-98b6-2d2d4b0b03d6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kafka-2-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>
    <name>honor-transactions</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>
    <name>header-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>edge2ai-1.dim.local:9092</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>weather</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>ec43178a-416c-3b20-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>8e3b142d-0f20-3305-0000-000000000000</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>group.id</key>
<value>nifi-weather-consumer</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>earliest</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>schema.*</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>60 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Consume Kafka weather messages</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>parse.failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0</type>
                </processors>
                <processors>
                    <id>fddddf00-c0f9-3ee6-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1592.0</x>
                        <y>1952.0</y>
                    </position>
                    <versionedComponentId>9223e712-b06c-3241-85b4-d8765065bf40</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>retry-attribute</key>
<value>
    <name>retry-attribute</name>
</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>
    <name>maximum-retries</name>
</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>
    <name>penalize-retries</name>
</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>
    <name>Fail on Non-numerical Overwrite</name>
</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>
    <name>reuse-mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>retry-attribute</key>
<value>flowfile.retries</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>3</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>false</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>fail</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RetryFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retries_exceeded</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RetryFlowFile</type>
                </processors>
            </contents>
            <name>weather</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/10/2020 16:42:03 UTC</timestamp>
</template>
