weatherstore.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>ad884c66-0175-1000-5d2e-78c20fc4c4df</groupId>
    <name>weatherstore</name>
    <snippet>
        <controllerServices>
            <id>118eac9d-0299-37ef-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-hwx-schema-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.1.0-71</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>url</key>
                    <value>
                        <name>url</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>
                        <name>cache-expiration</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
            </descriptors>
            <name>Cloudera SR</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>url</key>
                    <value>http://edge2ai-1.dim.local:7788/api/v1</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>1 hour</value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>37de3bac-5551-33c2-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.1.0-71</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>118eac9d-0299-37ef-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>8e3b142d-0f20-3305-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.1.0-71</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>SchemaAwareJsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>hwx-schema-ref-attributes</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>c9d216a4-734a-31d0-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>c9d216a4-734a-31d0-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-hwx-schema-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.1.0-71</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>url</key>
                    <value>
                        <name>url</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>
                        <name>cache-expiration</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
            </descriptors>
            <name>Edge2ai Cloudera SchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>url</key>
                    <value>http://edge2ai-1.dim.local:7788/api/v1</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>1 hour</value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>ec43178a-416c-3b20-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.1.0-71</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>SchemaAvroReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>hwx-content-encoded-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>c9d216a4-734a-31d0-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroReader</type>
        </controllerServices>
        <processGroups>
            <id>5000b129-4637-3acc-0000-000000000000</id>
            <parentGroupId>7e3664d1-174c-3548-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0bf39bad-ce95-3efb-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <versionedComponentId>36e6bf00-5fd2-3db0-82c0-6a0c0dbc0c6d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>25769802-d929-3743-0000-000000000000</groupId>
                        <id>5d8c653e-4337-39c3-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>4c51b58d-8e5f-3871-9888-6d23f929305a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>2547dd1d-739d-3b56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c6f0c205-f1fa-3f85-ab43-24e2ba2ca969</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2e0e6020-04ef-384f-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <versionedComponentId>f789d9e8-21a9-3983-94ae-3ac25396a930</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>615ab1b7-ab21-3af4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>3c2093cc-39a3-3901-a564-76260be65fd8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>parse.failure</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>5d4e27cd-8548-3191-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>859e4d09-c737-3556-98b6-2d2d4b0b03d6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3abe6869-6f49-3431-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <versionedComponentId>3e6b1e78-6da1-375f-89f8-46b8494dbca1</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-1742.9911319173543</x>
                        <y>1890.8061256740798</y>
                    </bends>
                    <destination>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>2547dd1d-739d-3b56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c6f0c205-f1fa-3f85-ab43-24e2ba2ca969</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>fddddf00-c0f9-3ee6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9223e712-b06c-3241-85b4-d8765065bf40</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>46e06a0d-8c11-35dd-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <versionedComponentId>2b40b71d-0e87-3e48-b426-2826193fc766</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>2547dd1d-739d-3b56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c6f0c205-f1fa-3f85-ab43-24e2ba2ca969</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>5d4e27cd-8548-3191-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>859e4d09-c737-3556-98b6-2d2d4b0b03d6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>55e90eeb-ec21-3000-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <versionedComponentId>7610f001-7953-35d9-be31-6eff5eb8b68d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>fddddf00-c0f9-3ee6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9223e712-b06c-3241-85b4-d8765065bf40</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>2547dd1d-739d-3b56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c6f0c205-f1fa-3f85-ab43-24e2ba2ca969</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>92659041-2c92-3956-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>ce9162ea-e964-3d0c-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>5d4e27cd-8548-3191-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>859e4d09-c737-3556-98b6-2d2d4b0b03d6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cdea134f-6b12-3956-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <versionedComponentId>85292097-172a-3434-a8c9-7ebe5430e752</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>615ab1b7-ab21-3af4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>3c2093cc-39a3-3901-a564-76260be65fd8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>retries_exceeded</selectedRelationships>
                    <source>
                        <groupId>5000b129-4637-3acc-0000-000000000000</groupId>
                        <id>fddddf00-c0f9-3ee6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9223e712-b06c-3241-85b4-d8765065bf40</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>615ab1b7-ab21-3af4-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-840.0</x>
                        <y>1832.0</y>
                    </position>
                    <versionedComponentId>3c2093cc-39a3-3901-a564-76260be65fd8</versionedComponentId>
                </funnels>
                <outputPorts>
                    <id>ce9162ea-e964-3d0c-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-912.0</x>
                        <y>1608.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Out to websockets</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processGroups>
                    <id>25769802-d929-3743-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2336.0</x>
                        <y>1712.0</y>
                    </position>
                    <versionedComponentId>298d2a69-39db-3a9b-8edf-1647b6c120d9</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>0c22ae95-4c27-3e42-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <versionedComponentId>ec8b5a62-c9c6-3712-922e-d5d627baf077</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>100000000</backPressureObjectThreshold>
                            <destination>
<groupId>25769802-d929-3743-0000-000000000000</groupId>
<id>6de5effb-f029-39ee-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1da1e217-3d78-3787-bc10-2a7d2d4712b1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>25769802-d929-3743-0000-000000000000</groupId>
<id>6793f2a0-f978-3d96-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>a9443aba-b77e-309c-abf8-77a1cb89040b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1709cfaf-ff62-3347-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <versionedComponentId>775dece8-5d2b-3041-8e9c-afe73483c8f4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>25769802-d929-3743-0000-000000000000</groupId>
<id>6793f2a0-f978-3d96-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>a9443aba-b77e-309c-abf8-77a1cb89040b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>25769802-d929-3743-0000-000000000000</groupId>
<id>5d8c653e-4337-39c3-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>4c51b58d-8e5f-3871-9888-6d23f929305a</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c2a2d322-0b31-3cd1-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <versionedComponentId>298d662e-fefc-3b4d-863c-ceca32b0b12a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000000</backPressureObjectThreshold>
                            <destination>
<groupId>25769802-d929-3743-0000-000000000000</groupId>
<id>62e1b141-5450-39de-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6e7c1912-b19c-3ad2-9e91-1a4e577aba34</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>25769802-d929-3743-0000-000000000000</groupId>
<id>6de5effb-f029-39ee-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1da1e217-3d78-3787-bc10-2a7d2d4712b1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>5d8c653e-4337-39c3-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <position>
<x>-2032.0</x>
<y>1096.0</y>
                            </position>
                            <versionedComponentId>4c51b58d-8e5f-3871-9888-6d23f929305a</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Input</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>62e1b141-5450-39de-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <position>
<x>-2104.0</x>
<y>1712.0</y>
                            </position>
                            <versionedComponentId>6e7c1912-b19c-3ad2-9e91-1a4e577aba34</versionedComponentId>
                            <bundle>
<artifact>nifi-slack-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.1.0-71</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>webhook-url</key>
        <value>
            <name>webhook-url</name>
        </value>
    </entry>
    <entry>
        <key>webhook-text</key>
        <value>
            <name>webhook-text</name>
        </value>
    </entry>
    <entry>
        <key>channel</key>
        <value>
            <name>channel</name>
        </value>
    </entry>
    <entry>
        <key>username</key>
        <value>
            <name>username</name>
        </value>
    </entry>
    <entry>
        <key>icon-url</key>
        <value>
            <name>icon-url</name>
        </value>
    </entry>
    <entry>
        <key>icon-emoji</key>
        <value>
            <name>icon-emoji</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>webhook-url</key>
    </entry>
    <entry>
        <key>webhook-text</key>
        <value>=========================================================
${icon_url_base}${icon_url_name}

Location ${location} Station ${station_id}
Temperature: ${temperature_string}
Humdity: ${relative_humidity}
Wind ${wind_string}
${weather}
Dewpoint ${dewpoint_string}

Observed at ${observation_time_rfc822}

---- tracking info ----

           UUID: ${uuid}
   Kafka offset: ${kafka.offset}
Kafka Timestamp: ${kafka.timestamp}
=========================================================</value>
    </entry>
    <entry>
        <key>channel</key>
        <value>#weather</value>
    </entry>
    <entry>
        <key>username</key>
    </entry>
    <entry>
        <key>icon-url</key>
    </entry>
    <entry>
        <key>icon-emoji</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Send Weather to Slack</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.slack.PutSlack</type>
                        </processors>
                        <processors>
                            <id>6793f2a0-f978-3d96-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <position>
<x>-2096.0</x>
<y>1256.0</y>
                            </position>
                            <versionedComponentId>a9443aba-b77e-309c-abf8-77a1cb89040b</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.1.0-71</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>$.*</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitJson</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                        <processors>
                            <id>6de5effb-f029-39ee-0000-000000000000</id>
                            <parentGroupId>25769802-d929-3743-0000-000000000000</parentGroupId>
                            <position>
<x>-2096.0</x>
<y>1480.0</y>
                            </position>
                            <versionedComponentId>1da1e217-3d78-3787-bc10-2a7d2d4712b1</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.1.0-71</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>dewpoint_string</key>
        <value>
            <name>dewpoint_string</name>
        </value>
    </entry>
    <entry>
        <key>icon_url_base</key>
        <value>
            <name>icon_url_base</name>
        </value>
    </entry>
    <entry>
        <key>icon_url_name</key>
        <value>
            <name>icon_url_name</name>
        </value>
    </entry>
    <entry>
        <key>location</key>
        <value>
            <name>location</name>
        </value>
    </entry>
    <entry>
        <key>observation_time_rfc822</key>
        <value>
            <name>observation_time_rfc822</name>
        </value>
    </entry>
    <entry>
        <key>relative_humidity</key>
        <value>
            <name>relative_humidity</name>
        </value>
    </entry>
    <entry>
        <key>station_id</key>
        <value>
            <name>station_id</name>
        </value>
    </entry>
    <entry>
        <key>temperature_string</key>
        <value>
            <name>temperature_string</name>
        </value>
    </entry>
    <entry>
        <key>weather</key>
        <value>
            <name>weather</name>
        </value>
    </entry>
    <entry>
        <key>wind_string</key>
        <value>
            <name>wind_string</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>json</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>dewpoint_string</key>
        <value>$.dewpoint_string</value>
    </entry>
    <entry>
        <key>icon_url_base</key>
        <value>$.icon_url_base</value>
    </entry>
    <entry>
        <key>icon_url_name</key>
        <value>$.icon_url_name</value>
    </entry>
    <entry>
        <key>location</key>
        <value>$.location</value>
    </entry>
    <entry>
        <key>observation_time_rfc822</key>
        <value>$.observation_time_rfc822</value>
    </entry>
    <entry>
        <key>relative_humidity</key>
        <value>$.relative_humidity</value>
    </entry>
    <entry>
        <key>station_id</key>
        <value>$.station_id</value>
    </entry>
    <entry>
        <key>temperature_string</key>
        <value>$.temperature_string</value>
    </entry>
    <entry>
        <key>weather</key>
        <value>$.weather</value>
    </entry>
    <entry>
        <key>wind_string</key>
        <value>$.wind_string</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Fields for Messaging</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <name>Messaging</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>2547dd1d-739d-3b56-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1600.0</x>
                        <y>1712.0</y>
                    </position>
                    <versionedComponentId>c6f0c205-f1fa-3f85-ab43-24e2ba2ca969</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kudu-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Kudu Masters</key>
<value>
    <name>Kudu Masters</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
<value>
    <name>kerberos-principal</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-password</key>
<value>
    <name>kerberos-password</name>
</value>
                            </entry>
                            <entry>
<key>Skip head line</key>
<value>
    <name>Skip head line</name>
</value>
                            </entry>
                            <entry>
<key>Lowercase Field Names</key>
<value>
    <name>Lowercase Field Names</name>
</value>
                            </entry>
                            <entry>
<key>Handle Schema Drift</key>
<value>
    <name>Handle Schema Drift</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>Insert Operation</key>
<value>
    <name>Insert Operation</name>
</value>
                            </entry>
                            <entry>
<key>Flush Mode</key>
<value>
    <name>Flush Mode</name>
</value>
                            </entry>
                            <entry>
<key>FlowFiles per Batch</key>
<value>
    <name>FlowFiles per Batch</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Ignore NULL</key>
<value>
    <name>Ignore NULL</name>
</value>
                            </entry>
                            <entry>
<key>kudu-operations-timeout-ms</key>
<value>
    <name>kudu-operations-timeout-ms</name>
</value>
                            </entry>
                            <entry>
<key>kudu-keep-alive-period-timeout-ms</key>
<value>
    <name>kudu-keep-alive-period-timeout-ms</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Kudu Masters</key>
<value>edge2ai-1.dim.local:7051</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>impala::default.weatherkudu</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
                            </entry>
                            <entry>
<key>kerberos-password</key>
                            </entry>
                            <entry>
<key>Skip head line</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Lowercase Field Names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Handle Schema Drift</key>
<value>true</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>37de3bac-5551-33c2-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Insert Operation</key>
<value>UPSERT</value>
                            </entry>
                            <entry>
<key>Flush Mode</key>
<value>AUTO_FLUSH_BACKGROUND</value>
                            </entry>
                            <entry>
<key>FlowFiles per Batch</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>5000</value>
                            </entry>
                            <entry>
<key>Ignore NULL</key>
<value>true</value>
                            </entry>
                            <entry>
<key>kudu-operations-timeout-ms</key>
<value>30000ms</value>
                            </entry>
                            <entry>
<key>kudu-keep-alive-period-timeout-ms</key>
<value>15000ms</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Write to Prices Kudu</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.kudu.PutKudu</type>
                </processors>
                <processors>
                    <id>5d4e27cd-8548-3191-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1600.0</x>
                        <y>1472.0</y>
                    </position>
                    <versionedComponentId>859e4d09-c737-3556-98b6-2d2d4b0b03d6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kafka-2-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>
    <name>honor-transactions</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>
    <name>header-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>edge2ai-1.dim.local:9092</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>weather</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>ec43178a-416c-3b20-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>8e3b142d-0f20-3305-0000-000000000000</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>group.id</key>
<value>nifi-weather-consumer</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>earliest</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>schema.*</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>60 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Consume Kafka weather messages</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>parse.failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0</type>
                </processors>
                <processors>
                    <id>fddddf00-c0f9-3ee6-0000-000000000000</id>
                    <parentGroupId>5000b129-4637-3acc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1592.0</x>
                        <y>1952.0</y>
                    </position>
                    <versionedComponentId>9223e712-b06c-3241-85b4-d8765065bf40</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.1.0-71</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>retry-attribute</key>
<value>
    <name>retry-attribute</name>
</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>
    <name>maximum-retries</name>
</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>
    <name>penalize-retries</name>
</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>
    <name>Fail on Non-numerical Overwrite</name>
</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>
    <name>reuse-mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>retry-attribute</key>
<value>flowfile.retries</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>3</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>false</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>fail</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RetryFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retries_exceeded</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RetryFlowFile</type>
                </processors>
            </contents>
            <name>weather</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/10/2020 16:41:52 UTC</timestamp>
</template>
